<nav class="nav">
    <div class="container">
      <div class="user-info">
        <img class="user-icon" src="https://t3.ftcdn.net/jpg/01/90/50/48/360_F_190504871_cuEc8CpAKYXiFGZD9zRfNRBTGT6V8EDa.jpg" alt="User Icon">
        <h3 class="professeur-name">Med Amine Dhahbi</h3>
      </div>
      <div class="logout" routerLink=""> 
        <img src="https://cdn1.iconfinder.com/data/icons/heroicons-ui/24/logout-512.png" alt="Log Out Icon" width="30" height="30"/>
        <span>Logout</span>
      </div>
    </div>
  </nav>
